body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    margin: 0;
}

nav {
    background: #1877f2;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

nav button {
    margin-left: 15px;
    background: white;
    color: #1877f2;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 70%;
    margin: 30px auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.post-img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
}

.btn {
    background: #1877f2;
    color: white;
    padding: 7px 14px;
    border-radius: 6px;
    text-decoration: none;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}